.input-number {
    text-align:right;
}

.control-search {
    height: 18px;
    color: #000000;
    border-radius: 4px;
    font-size: 10px;
    background-color: #E2E2E2;
    padding-left: 4px;
}

.selectable {
    cursor: pointer;
}