{% extends "base/base_site.html" %}

{% block title %} Crear Informe Legal {% endblock title %}

{% block content %}
<div class="right_col" role="main">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h1>CREAR DOCUMENTO</h1>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br />
          <form method= "post" data-parsley-validate class="form-horizontal form-label-left">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <h2 style="text-decoration : underline">DATOS PREVIOS</h2>
                </div>
                {% if doc %}
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                        <label class="control-label col-md-4 col-sm-6 col-xs-12">{{form.cite.label}}</label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                        {{form.cite}}
                        {% if form.cite.errors %}
                          <div class="alert alert-danger alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                              {{form.cite.errors}}
                          </div>
                        {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                        <label class="control-label col-md-4 col-sm-6 col-xs-12">{{form.numero_ra.label}}</label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                        {{form.numero_ra}}
                        {% if form.numero_ra.errors %}
                          <div class="alert alert-danger alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                              {{form.numero_ra.errors}}
                          </div>
                        {% endif %}
                        </div>
                    </div>
                {% endif %} 
                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                    <label class="control-label col-md-4 col-sm-6 col-xs-12">{{form.fecha.label}}</label>
                    <div class="col-md-8 col-sm-6 col-xs-12">
                    {{form.fecha}}
                    </div>
                </div>
                <div class="ln_solid col-md-12 col-sm-12 col-xs-12"></div>
                <div class="form-group col-md-8 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3">
                    <a class="btn btn-primary" href="{% url 'tecnico:listar_op_documentos' %}">CANCELAR</a>
                    <button type="submit" class="btn btn-success">REGISTRAR</button>
                    </div>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <script src="/static/js/project.js"></script>
  <!-- validator -->
  <script src="/static/vendors/validator/validator.js"></script>
{% endblock %}
