{% extends "base/base_site.html" %}

{% block title %} Crear Operador Nuevo {% endblock title %}

{% block js %}


{% endblock js %}

{% block content %}
<div class="right_col" role="main">
  <div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h1>REGISTRAR OPERADOR NUEVO</h1>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br />
          <form method= "post" data-parsley-validate class="form-horizontal form-label-left">
            {% csrf_token %}
            <!-- <div class="row"> -->
              <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <h2 style="text-decoration : underline">DATOS DEL OPERADOR NUEVO</h2>
              </div> 
              <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="control-label col-md-3 col-sm-6 col-xs-12">{{form.nombre.label}}</label>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  {{form.nombre}}
                  {{form.nombre.errors}}
                </div>
              </div>
              <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="control-label col-md-3 col-sm-6 col-xs-12">{{form.razon_social.label}}</label>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  {{form.razon_social}}
                  {{form.razon_social.errors}}
                </div>
              </div>
              <div class="ln_solid col-md-12 col-sm-12 col-xs-12"></div>
              <div class="form-group col-md-8 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3">
                  <a class="btn btn-primary" href="{% url 'tecnico:operario_nuevo_listar' %}">CANCELAR</a>
                  <button type="submit" class="btn btn-success">REGISTRAR</button>
                </div>
              </div>
            <!-- </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <script src="/static/js/project.js"></script>
  <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/js/responsive.bootstrap.js"></script>
  <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  <!-- validator -->
  <script src="/static/vendors/validator/validator.js"></script>
  
{% endblock %}
