{% extends "base/base_site.html" %}
{% load staticfiles %}
{% block title %} Detalle Operador {% endblock title %}

{% block content %}
<div class="right_col" role="main">
    <a class="btn btn-primary" href="{% url 'tecnico:operario_nuevo_listar' %}"> <i class="fa fa-backward"></i>Volver</a>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">  
                <div class="x_title">
                    <h2>Detalle del Operardor</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a></li>
                                <li><a href="#">Settings 2</a></li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>Detalles</p>
                    <div class="form-group form-horizontal col-md-6 col-sm-12 col-xs-12">
                        <label class="control-label col-md-2 col-sm-6 col-xs-12">NOMBRE</label>
                        <div class="col-md-9 col-sm-6 col-xs-12">
                            <input class="col-md-12" type="text" disabled="disabled" name="" id="" readonly='readonly' placeholder="{{ object.nombre }}">
                        </div>
                    </div>
                    <div class="form-group form-horizontal col-md-6 col-sm-12 col-xs-12">
                        <label class="control-label col-md-5 col-sm-6 col-xs-12">RAZON SOCIAL</label>
                        <div class="col-md-7 col-sm-4 col-xs-12">
                            <input type="text" name="" id="" disabled="disabled" placeholder="{{ object.razon_social }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Lista de Vehículos</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a></li>
                                <li><a href="#">Settings 2</a></li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="table-responsive">
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Acciones</th>
                                <th>Fotografias</th>
                                <th>Propietario</th>
                                <th>Placa</th>
                                <th>Tipo de Vehículo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if lista %}
                            {% for vehiculo in lista %}
                            <tr>
                                <td>
                                    <a class="btn btn-round btn-primary btn-xs" data-toggle="tooltip" title="Editar" href="{% url 'tecnico:vehiculo_nuevo_editar' pk=vehiculo.id fk=object.id %}"><i class="fa fa-pencil"></i></a>
                                    <a class="btn btn-round btn-danger btn-xs " data-toggle="tooltip" title="Eliminar" href="{% url 'tecnico:vehiculo_nuevo_eliminar' pk=vehiculo.id fk=object.id %}"><i class="fa fa-trash"></i></a>
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        {% for foto in vehiculo.fotos.all %}
                                            <li>
                                                {% if foto.foto and foto.foto.url %}
                                                    <img data-toggle="tooltip" title="Ver" src="{% static foto.foto.url %}" alt="Foto de vehiculo" class="avatar foto_vehiculo" foto-id="{{ foto.id }}" operador="{{ object.id }}">
                                                {% else %}
                                                    <img data-toggle="tooltip" title="Ver" src="/static/images/logo.jpg" alt="Imagen" class="avatar foto_vehiculo">
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <!-- Button modal -->
                                    <button type="button" class="btn btn-round btn-primary btn-foto-vehiculo" vehiculo="{{ vehiculo.id }}">Añadir Foto</button>
                                </td>
                                <td>{{ vehiculo.propietario }}</td>
                                <td>{{ vehiculo.placa }}</td>
                                <td>{{ vehiculo.tipo_vehiculo }}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <h1>No hay registros de Vehiculos {{ a }}</h1>
                            {% endif %}
                        </tbody>
                    </table>
                    </div>
                    {% if prueba %}
                        <a class="btn btn-primary" href="{% url 'tecnico:vehiculo_nuevo_crear' pk=object.id %}">Añadir Vehículo</a>
                    {% else %}
                        <p><strong> Vehículos Completos </strong></p>
                    {% endif %}
                </div>
            </div>
        </div>
   
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="x_panel">  
                <div class="x_title">
                    <h2>Requisitos que el operardor nuevo debe cumplir</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a></li>
                                <li><a href="#">Settings 2</a></li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>Requisitos</p>
                    <ol>
                        {% if requisitos %}
                            {% for requisito in requisitos %}
                                <li><p style="font-weight: bold">{{ requisito }}</p></li>
                            {% endfor %}
                        {% endif %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
 
    <!-- Modal Upload Image -->
    <div id="modal-foto" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form id="form-foto-vehiculo" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel">Subir Imagen</h4>
                    </div>
                    <div class="modal-body">
                        <div class="item form-group col-md-6 col-sm-12 col-xs-12">    
                            <label class="control-label col-md-4 col-sm-6 col-xs-12">{{formulario.vehiculo.label}}</label>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                {{formulario.vehiculo}}
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-12 col-xs-12">
                            <label class="control-label col-md-3 col-sm-6 col-xs-12">{{formulario.foto.label}}</label>
                            <div class="col-md-9 col-sm-6 col-xs-12">
                                {{formulario.foto}}
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <label class="control-label col-md-3 col-sm-6 col-xs-12">Visualizacion Previa</label>
                            <div class="col-md-9 col-sm-6 col-xs-12">
                                <output id="list" ></output>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar Ventana</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </form>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
    <!-- /modals -->

    <!-- Modal Image Delete -->
    <div id="modal-foto-delete" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Ver Imagen</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <img style="width:100%; height:100%;" src="" alt="Imagen" id="ver-imagen">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar Ventana</button>
                    <a class="btn btn-danger eliminar-foto" href="{# url 'tecnico:vehiculo_nuevo_eliminar' pk=vehiculo.id fk=object.id #}">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /modals -->
</div>

{% endblock content %}
{% block javascripts %}
  {{ block.super }}
  <script src="/static/js/project.js"></script>
  <!-- validator -->
  <script src="/static/vendors/validator/validator.js"></script>
  <script>

        // script modal añadir foto
        $(".btn-foto-vehiculo").on("click", function(){
            var id_vehiculo = $(this).attr("vehiculo");
            $("#id_vehiculo").val(id_vehiculo);
            $("#form-foto-vehiculo").attr("action", "/tecnico/foto_vehiculo/"+id_vehiculo+"/");
            $("#modal-foto").modal("show");
        });
        
        // var id_foto = $(".foto_vehiculo").attr("foto-id");
        // var id_operador = $(this).attr("operador");
        // alert(id_foto);
        // alert(id_operador);
        // $('.id-fotos').val("id_foto");
        // $('.id-operadorr').text("id_operador");
        // script modal ver y eliminar foto
        $(".foto_vehiculo").on("click", function(){
            var recurso = $(this).attr("src");
            var id_foto = $(this).attr("foto-id");
            var id_operador = $(this).attr("operador");
            $('#ver-imagen').attr("src", recurso);
            $(".eliminar-foto").attr("href", "/tecnico/foto_eliminar/"+id_foto+"/"+id_operador+"/");
            $("#modal-foto-delete").modal("show");
        });

        // Visualizacion Previa de Imagenes al momento de añadir la foto
        function archivo(evt) {
            var files = evt.target.files; // FileList object
            // Obtenemos la imagen del campo "file".
            for (var i = 0, f; f = files[i]; i++) {
                //Solo admitimos imágenes.
                    if (!f.type.match('image.*')) {
                        continue;
                    }
                    var reader = new FileReader();
                    reader.onload = (function(theFile) {
                        return function(e) {
                            // Insertamos la imagen
                            document.getElementById("list").innerHTML = ['<img style="width:100%; height:100%;" src="', e.target.result,'" title="', escape(theFile.name), '"/>'].join('');
                        };
                    })(f);
                    reader.readAsDataURL(f);
                  }
                }
            document.getElementById('files').addEventListener('change', archivo, false);
        // End Visualizacion Previa de Imagenes

    </script>
{% endblock %}
