{% extends "base/base_site.html" %}
{% load staticfiles %}
{% block title %} Detalle operadores {% endblock title %}

{% block content %}
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">  
                <div class="x_title">
                    <h2>DETALLE DEL OPERADOR "{{ object.nombre|upper }}"</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a></li>
                                <li><a href="#">Settings 2</a></li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="form-group form-vertical col-md-5 col-sm-12 col-xs-12">
                        <label style="text-align:left" class="control-label col-md-12 col-sm-12 col-xs-12">NOMBRE: {{ object.nombre|upper }}</label>
                        <!-- <div class="col-md-10 col-sm-6 col-xs-12">
                            <input class="col-md-10" type="text" disabled="disabled" placeholder="{{ object.nombre }}">
                        </div> -->
                    </div>
                    <div class="form-group form-vertical col-md-7 col-sm-12 col-xs-12">
                        <label style="text-align:left" class="control-label col-md-12 col-sm-6 col-xs-12">RAZON SOCIAL: {{ object.razon_social|upper }}</label>
                        <!-- <div class="col-md-7 col-sm-4 col-xs-12">
                            <input type="text" disabled="disabled" placeholder="{{ object.razon_social }}">
                        </div> -->
                    </div>
                    <div class="form-group form-vertical col-md-5 col-sm-12 col-xs-12">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">No DE REGISTRO: {{ object.numero_registro }}</label>
                        <!-- <div class="col-md-7 col-sm-4 col-xs-12">
                            <input type="text" disabled="disabled" placeholder="{{ object.numero_registro }}">
                        </div> -->
                    </div>
                    <div class="form-group form-vertical col-md-7 col-sm-12 col-xs-12">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">MODALIDAD: {{ object.modalidad|upper }}</label>
                        <!-- <div class="col-md-10 col-sm-6 col-xs-12">
                            <input class="col-md-10" type="text" disabled="disabled" placeholder="{{ object.modalidad }}">
                        </div> -->
                    </div>
                    <div class="form-group form-vertical col-md-5 col-sm-12 col-xs-12">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">DOMICILIO: {{ object.domicilio|upper }}</label>
                        <!-- <div class="col-md-7 col-sm-4 col-xs-12">
                            <input type="text" disabled="disabled" placeholder="{{ object.domicilio }}">
                        </div> -->
                    </div>
                    <div class="form-group form-vertical col-md-7 col-sm-12 col-xs-12">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">NIT: {{ object.nit }}</label>
                        <!-- <div class="col-md-10 col-sm-6 col-xs-12">
                            <input class="col-md-10" type="text" disabled="disabled" placeholder="{{ object.nit }}">
                        </div> -->
                    </div>
                    <div class="form-group form-vertical col-md-7 col-sm-12 col-xs-12">
                        <label class="control-label col-md-9 col-sm-12 col-xs-12">DESCARGAR DOC. LEGAL:</label>
                        <a class="btn btn-primary" href="/static/archivos/{{ object.digital }}" target="_blank"><span class='fa fa-cloud-download fa-lg' style="color: whitesmoke;"></span> DESCARGAR</a>
                    </div>
                    <div class="form-group form-vertical col-md-10 col-sm-12 col-xs-12">
                        <label style="text-align:left" class="control-label col-md-3 col-sm-6 col-xs-12">RUTAS Y HORARIOS:</label>
                        <div class="fa-hover">
                            <button type="button" id="btn-add-ruta" class="btn btn-primary" data-toggle="tooltip" title="Añadir Ruta" operador="{{ object.id }}"><i class="fa fa-plus-square"></i></button>
                        </div>
                        <br>
                        <div class="scrollable" style="height: 200px; overflow: scroll">    
                            <table id="datatable" style="margin-top:1em" class="table table-striped table-bordered col-md-5 col-sm-6 col-xs-12">
                                <thead>
                                    <tr> 
                                        <th>Acción</th>
                                        <th>Ruta</th>
                                        <th>Hora y/o Frecuencia</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if rutas %}
                                        {% for ruta in rutas %}
                                        <tr>
                                            <td>
                                                <a class="btn btn-danger btn-xs " data-toggle="tooltip" title="Eliminar" href="{% url 'operario:eliminar_ruta' pk=ruta.id fk=object.id %}"><i class="fa fa-trash"></i></a>
                                            </td>
                                            <td>{{ ruta.ruta }}</td>
                                            <td>{{ ruta.hora }}</td>
                                        </tr>
                                        {% endfor %}
                                    {% else %}
                                        <h2>EL OPERADOR AUN NO TIENE NINGUNA RUTA</h2>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if vehiculos_n %}
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>VEHICULOS NUEVOS</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a></li>
                                    <li><a href="#">Settings 2</a></li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Registrar</th>
                                    <!-- <th>Fotografias</th> -->
                                    <th>Propietario</th>
                                    <th>Placa</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if vehiculos_n %}
                                {% for vehiculo_n in vehiculos_n %}
                                <tr>
                                    <td>
                                        <!-- Modal for register vehiculo -->
                                        <!-- <button type="button" class="btn btn-primary registra_vehiculo" vehiculo="{{ vehiculo.id }}">Registrar</button> -->
                                        <a class="btn btn-primary" href="{% url 'operario:vehiculo_registrar' pk=vehiculo_n.id fk=object.id %}">Registrar</a>
                                    </td>
                                    <!-- <td>
                                        <ul class="list-inline">
                                            {% for foto in vehiculo_n.fotos.all %}
                                                <li>
                                                    {% if foto.foto and foto.foto.url %}
                                                        <img data-toggle="tooltip" title="Ver" src="{% static foto.foto.url %}" alt="Foto de vehiculo" class="avatar foto_vehiculo" foto-id="{{ foto.id }}" operador="{{ object.id }}">
                                                    {% else %}
                                                        <img data-toggle="tooltip" title="Ver" src="/static/images/logo.jpg" alt="Imagen" class="avatar foto_vehiculo">
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td> -->
                                    <td>{{ vehiculo_n.propietario }}</td>
                                    <td>{{ vehiculo_n.placa }}</td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <h1>No hay registros de Vehiculos</h1>
                                {% endif %}
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>REGISTRO DE VEHICULOS</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a></li>
                                <li><a href="#">Settings 2</a></li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="table-responsive">
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Acciones</th>
                                <th>Fotografias</th>
                                <th>Propietario</th>
                                <th>Placa</th>
                                <th>Tipo de Vehiculo</th>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>Chasis</th>
                                <th>Capacidad</th>
                                <th>Color</th>
                                <th>Baja</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if vehiculos %}
                            {% for vehiculo in vehiculos %}
                            <tr>
                                <td>
                                    <a class="btn btn-primary btn-xs" data-toggle="tooltip" title="Editar" href="{% url 'operario:vehiculo_actualizar' pk=vehiculo.id fk=object.id %}"><i class="fa fa-pencil"></i></a>
                                    <!-- <a class="btn btn-danger btn-xs " data-toggle="tooltip" title="Eliminar" href="{% url 'operario:vehiculo_eliminar' pk=vehiculo.id fk=object.id %}"><i class="fa fa-trash"></i></a> -->
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        {% for foto in vehiculo.fotos.all %}
                                            <li>
                                                {% if foto.foto and foto.foto.url %}
                                                    <img data-toggle="tooltip" title="Ver" src="{% static foto.foto.url %}" alt="Foto de vehiculo" class="avatar foto_vehiculo" foto-id="{{ foto.id }}" operador="{{ object.id }}">
                                                {% else %}
                                                    <img data-toggle="tooltip" title="Ver" src="/static/images/logo.jpg" alt="Imagen" class="avatar foto_vehiculo">
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <!-- Button modal -->
                                </td>
                                <td>{{ vehiculo.propietario }}</td>
                                <td>{{ vehiculo.placa }}</td>
                                <td>{{ vehiculo.tipo_vehiculo }}</td>
                                <td>{{ vehiculo.marca }}</td>
                                <td>{{ vehiculo.modelo }}</td>
                                <td>{{ vehiculo.chasis }}</td>
                                <td>{{ vehiculo.capacidad }}</td>
                                <td>{{ vehiculo.color }}</td>
                                <td>
                                    <a class="btn btn-danger btn-xs " data-toggle="tooltip" title="Eliminar" href="{% url 'operario:vehiculo_eliminar' pk=vehiculo.id fk=object.id %}"><i class="fa fa-trash"></i></a>
                                    <!-- <a class="btn btn-warning btn-xs" data-toggle="tooltip" title="Editar" href="{% url 'operario:vehiculo_actualizar' pk=vehiculo.id fk=object.id %}"><i class="fa fa-pencil"></i></a> -->
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <h3>El operador {{ object.nombre|upper }} no tiene vehiculos registrados</h3>
                            {% endif %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal Registrar Ruta -->
    <div id="modal-ruta" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form id="form-ruta-operador" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="myModalLabel">Registrar Ruta</h4>
                        </div>
                        <div class="modal-body">
                            <div class="item form-group col-md-6 col-sm-12 col-xs-12">    
                                <label class="control-label col-md-4 col-sm-6 col-xs-12">{{formulario.ruta.label}}</label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    {{formulario.ruta}}
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label class="control-label col-md-3 col-sm-6 col-xs-12">{{formulario.hora.label}}</label>
                                <div class="col-md-9 col-sm-6 col-xs-12">
                                    {{formulario.hora}}
                                </div>
                            </div>
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar Ventana</button>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
        <!-- /modals -->
</div>

{% endblock content %}
{% block javascripts %}
  {{ block.super }}
  <script src="/static/js/project.js"></script>
  <!-- validator -->
  <script src="/static/vendors/validator/validator.js"></script>
  <script>

        // script modal registrar ruta
        $("#btn-add-ruta").on("click", function(){
            var id_operador = $(this).attr("operador");
            $("#form-ruta-operador").attr("action", "/operador/ruta/registrar/"+id_operador+"/");
            $("#modal-ruta").modal("show");
        });

    </script>
{% endblock %}
