{% extends "base/base_site.html" %}

{% block title %} Lista Operadores {% endblock title %}

{% block content %}
<div class="right_col" role="main">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="title_left" >
            <h3>Operadores</h3>
        </div>
        <div class="x_panel">
          <h4>Registro de Operadores</h4>
          <div class="col-md-2"  style="float:right; padding-top:10px ">
            <div class="btn-group">
              <a target="_blank" data-toggle="tooltip" title="Imprimir" href="{% url 'operario:reporte_anual_operador' %}" class="btn btn-sm btn-primary"> <i class="fa fa-print"></i> Lista Operadores </a>
            </div>
          </div>
            <div class="x_content">
                <div class="">
                    <div class="">
                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                          <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                            <li role="presentation" class="active">
                              <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">
                                <label class="form-label">Registrar Operador</label>
                                <span class="badge bg-orange">{{operadores_nuevos.count}}</span>
                              </a>
                            </li>
                            <li role="presentation" class="">
                              <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">
                                <label class="form-label">Lista de Operadores</label>
                                <span class='badge bg-green' >{{operador_n.count}}</span>
                              </a>
                            </li>
                          </ul>
                          <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                              <p>
                                <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                  <div class="row">
                                    <div class="col-sm-12">
                                      <table class="table table-striped table-bordered prueba dt-responsive display nowrap jambo_table" cellpadding="0" width="100%">
                                        <thead>
                                          <tr class="headings" >
                                            <th  style="width: 20%;">Acciones</th>
                                            <th  style="width: 45%;">Nombre</th>
                                            <th  style="width: 25%;">Razón Social</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            {% if operadores_nuevos %}
                                            {% for operador in operadores_nuevos %}
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" href="{% url 'operario:registar_operador' pk=operador.id %}">Registrar</a>
                                                </td>
                                                <td>{{ operador.nombre }}</td>
                                                <td>{{ operador.razon_social }}</td>
                                            </tr>
                                            {% endfor %}
                                            {% else %}
                                            <h1>No hay registros de Operadores Nuevos</h1>
                                            {% endif %}
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </p>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                              <p>
                                <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                  <div class="row">
                                    <div class="col-sm-12">
                                      <table id="myTable2" class="table table-striped table-bordered prueba">
                                        <thead >
                                          <tr class="headings" style='background-color: rgba(63,83,103,1); color:white;'>
                                              <th>DETALLES</th>
                                              <th>NOMBRE</th>
                                              <th>RAZON SOCIAL</th>
                                              <th>No DE REGISTRO</th>
                                              <th>MODALIDAD</th>
                                              <th>DOMICILIO</th>
                                              <th>NIT</th>
                                              <th>ACCIONES</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          {% if operador_n %}
                                          {% for operador in operador_n %}
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" href="{% url 'operario:operadores_detalle' pk=operador.id %}">Detalle</a>
                                                </td>
                                                <td>{{ operador.nombre }}</td>
                                                <td>{{ operador.razon_social }}</td>
                                                <td>{{ operador.numero_registro }}</td>
                                                <td>{{ operador.modalidad }}</td>
                                                <td>{{ operador.domicilio }}</td>
                                                <td>{{ operador.nit }}</td>
                                                <td>
                                                    <a class="btn btn-primary btn-xs" data-toggle="tooltip" title="Editar" href="{% url 'operario:operador_actualizar' pk=operador.id %}"><i class="fa fa-pencil"></i></a>
                                                    <a class="btn btn-danger btn-xs " data-toggle="tooltip" title="Eliminar" href="{% url 'operario:operador_eliminar' pk=operador.id %}"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                  </div>
                                </p>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascripts %}
  {{ block.super }}
    <script src="/static/js/project.js"></script>
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <!-- validator -->
    <script src="/static/vendors/validator/validator.js"></script>
    <script type="text/javascript">

        $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
                //$.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
            $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
        } );
        $('.prueba').DataTable( {
          "scrollY":        "300px",
          "scrollCollapse": true,
          "paging":         true,
          "responsive":     true,
          "ordering":       true,
          "language": {
              "sProcessing":     "Procesando...",
              "sLengthMenu":     "Mostrar _MENU_ registros",
              "sZeroRecords":    "No se encontraron resultados",
              "sEmptyTable":     "Ningún dato disponible en esta tabla",
              "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
              "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
              "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
              "sInfoPostFix":    "",
              "sSearch":         "Buscar:",
              "sUrl":            "",
              "sInfoThousands":  ",",
              "sLoadingRecords": "Cargando...",
              "oPaginate": {
                  "sFirst":    "Primero",
                  "sLast":     "Último",
                  "sNext":     "Siguiente",
                  "sPrevious": "Anterior"
              },
              "oAria": {
                  "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                  "sSortDescending": ": Activar para ordenar la columna de manera descendente"
              }
          }
        } );
      </script>
      <style type="text/css">
      .prueba{
        height: 150px;
      }
      </style>
{% endblock %}