{% extends "base/base_site.html" %}

{% block title %} Seguimiento {% endblock title %}

{% block content %}
<div class="right_col" role="main">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>REGISTRO DE SEGUIMIENTO</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br />
          <form method= "post" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
            {% csrf_token %}
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{form.nro_tramite.label}}<span class="required">*</span>
              </label>
              <div class="col-md-3 col-sm-3 col-xs-12">
                {{form.nro_tramite}}
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">{{form.fecha.label}}<span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                {{form.fecha}}
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">{{form.hora.label}}<span class="required">*</span>
              </label>
              <div class="col-md-3 col-sm-3 col-xs-12">
                  {{form.hora}}
              </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">{{form.estado.label}}<span class="required">*</span>
                </label>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    {{form.estado}}
                </div>
              </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{form.obserbacion.label}}<span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                {{form.obserbacion}}
              </div>
            </div>           
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <a class="btn btn-primary" href="/tramite/index.html">CANCELAR</a>
                <button type="submit" class="btn btn-success">REGISTRAR</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <script src="/static/js/project.js"></script>
  <!-- validator -->
  <script src="/static/vendors/validator/validator.js"></script>
{% endblock %}
