{% extends "base/base_site.html" %}

{% block title %} Lista Operadores Renovar {% endblock title %}

{% block js %}

{% endblock js %}
 
{% block content %}
<div class="right_col" role="main">
    <!-- <a class="btn btn-primary" href="{% url 'tecnico:operador_renovavion_listar' %}"><i class="fa fa-backward"></i> Volver</a> -->
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <h2>SEGUIMIENTO DE TRÁMITE AL OPERADOR: <strong> {{ operador.nombre }}</strong></h2>
            <br>
            <div class="scrollable" style="height: 440px; overflow: scroll">
                <!-- <table class="table table-striped table-bordered prueba dt-responsive display nowrap jambo_table" cellpadding="0" width="100%" height= "300px"> -->
                <table id="myTable" class="table table-striped table-bordered prueba dt-responsive display nowrap jambo_table" cellpadding="0" width="100%" height= "300px">
                    <thead>
                    <tr class="headings" >
                        <th >INGRESADO</th>
                        <th >VERIFICACION</th>
                        <th >INFORMES</th>
                        <th >DOCUMENTOS LEGALES</th>
                        <th >TRÁMITE INICIADO</th>
                        <th >TRÁMITE EN PROCESO</th>
                        <th >TRÁMITE TARJETAS IMPRESAS</th>
                    </tr>
                    </thead>
                    <tbody id="tablita">
                        {% if operador %}
                        <td>
                            {% if ingresado %}
                            Nuevo trámite ingresado
                            {% endif %} 
                        </td>
                        <td>
                            {% if verificado %}
                                En verificación
                            {% endif %}
                        </td>
                        <td>
                            {% if Informe %}
                                Emitiendo los informes
                            {% endif %}
                        </td>
                        <td>
                            {% if doc %}
                            Emitiendo los documentos legales
                            {% endif %}
                        </td>
                        <td>
                            {% if tramite_inicio %}
                                Trámite en curso
                            {% endif %}
                        </td>
                        <td>
                            {% if tramite_proceso %}
                                Trámite en proceso
                            {% endif %}
                        </td>
                        <td>
                            {% if tarjetas_impresas %}
                                Imprimir tarjetas
                            {% endif %}
                        </td>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascripts %}
{{ block.super }}
<script src="/static/js/project.js"></script>
<script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/js/responsive.bootstrap.js"></script>
<script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<!-- validator -->
<script src="/static/vendors/validator/validator.js"></script>
<script type="text/javascript">

    // function searchOperadorForName() {
    //     var input, filter, table, tr, td, i, txtValue;
    //     input = document.getElementById("myInput");
    //     filter = input.value.toUpperCase();
    //     table = document.getElementById("myTable");
    //     tr = table.getElementsByTagName("tr");
    //     // let txt = 'No se encontro ninguna coincidencia...';
    //     // var fila="<tr><td colspan='3'>"+ txt +"</td></tr>";
    //     // var btn = document.createElement("TR");
    //     // btn.innerHTML=fila;
    //     // document.getElementById("tablita").appendChild(btn);
    //     for (i = 0; i < tr.length; i++) {
    //         td = tr[i].getElementsByTagName("td")[1];
    //         if (td) {
    //             txtValue = td.textContent || td.innerText;
    //             if (txtValue.toUpperCase().indexOf(filter) > -1) {
    //                 tr[i].style.display = "";
    //             } else {
    //             tr[i].style.display = "none";
    //             }
    //         }
    //     }
    // }

</script>
<style type="text/css">
/* #myInput {
  background-color: rgb(150, 182, 252);
  width: 50%;
  font-size: 15px;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(36, 69, 107);
  border-radius: 0 3px;
} */
</style>
{% endblock %}