{% extends "base/base_site.html" %}

{% block title %} Detalle Vehiculo {% endblock title %}

{% block content %}
<div class="right_col" role="main">
    <a class="btn btn-primary" href="{% url 'vehiculo:listar_vehiculos' %}"> <i class="fa fa-backward"></i> Volver</a>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">  
                <div class="x_title">
                    <h2>Detalles del Vehículo:</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="form-group form-horizontal col-md-6 col-sm-12 col-xs-12">
                        <b class="col-md-3 col-sm-6 col-xs-12" >OPERADOR: </b>{{ operador|upper }}
                    </div>
                    <div class="form-group form-horizontal col-md-6 col-sm-12 col-xs-12">
                        <b class="col-md-3 col-sm-6 col-xs-12" >IDENTIFICADOR: </b>{{ object.id|upper }}
                    </div>
                    <div class="form-group form-horizontal col-md-6 col-sm-12 col-xs-12">
                        <b class="col-md-3 col-sm-6 col-xs-12" >PROPIETARIO: </b>{{ object.propietario|upper }}
                    </div>
                    <div class="form-group form-horizontal col-md-6 col-sm-12 col-xs-12">
                        <b class="col-md-3 col-sm-6 col-xs-12" >PLACA: </b>{{ object.placa|upper }}
                    </div>
                    <div class="form-group form-horizontal col-md-6 col-sm-12 col-xs-12">
                        <b class="col-md-3 col-sm-6 col-xs-12" >MARCA: </b>{{ object.marca|upper }}
                    </div>
                    <div class="form-group form-horizontal col-md-6 col-sm-12 col-xs-12">
                        <b class="col-md-3 col-sm-6 col-xs-12" >MODELO: </b>{{ object.modelo|upper }}
                    </div>
                    <div class="form-group form-horizontal col-md-6 col-sm-12 col-xs-12">
                        <b class="col-md-3 col-sm-6 col-xs-12" >CHASIS: </b>{{ object.chasis|upper }}
                    </div>
                    <div class="form-group form-horizontal col-md-6 col-sm-12 col-xs-12">
                        <b class="col-md-3 col-sm-6 col-xs-12" >COLOR: </b>{{ object.color|upper }}
                    </div>
                    <div class="form-group form-horizontal col-md-6 col-sm-12 col-xs-12">
                        <b class="col-md-3 col-sm-6 col-xs-12" >CAPACIDAD: </b>{{ object.capacidad|upper }}
                    </div>
                    <div class="clearfix"></div>
                    <div class="actionBar"><h2 style="text-align:left">Información de la Tarjeta Vigente:</h2></div>
                    {% if detalle %}
                        <div class="form-group form-horizontal col-md-12 col-sm-12 col-xs-12">
                            <b class="col-md-2 col-sm-6 col-xs-12" style="text-align:left">VALIDO POR: </b>{{ detalle.validez }} AÑO
                        </div>
                        <div class="form-group form-horizontal col-md-12 col-sm-12 col-xs-12">
                            <b class="col-md-2 col-sm-6 col-xs-12" style="text-align:left">DEL: </b>{{ detalle.valida_del }}
                        </div>
                        <div class="form-group form-horizontal col-md-12 col-sm-12 col-xs-12">
                            <b class="col-md-2 col-sm-6 col-xs-12" style="text-align:left">AL: </b>{{ detalle.valida_al }}
                        </div>
                    {% else %}
                        <div class="form-group form-horizontal col-md-12 col-sm-12 col-xs-12">
                            <h2>El vehículo aún no tiene tarjeta</h2>
                        </div>
                    {% endif %}
                    <a class="btn btn-primary" href="{% url 'vehiculo:historial_tarjetas' fk=object.id %}">VER HISTORIAL DE TARJETAS</a>
                    <div class="clearfix"></div>
                    <div class="actionBar"><h2 style="text-align:left">Fotografias:</h2></div>
                    {% if fotos %}
                        <div class="form-group form-horizontal col-md-12 col-sm-12 col-xs-12">
                        <!-- <label class="control-label col-md-12 col-sm-6 col-xs-12" style="text-align:left">FOTOS:</label> -->
                        {% for foto in fotos %}
                            <div class="col-md-55">
                                <div class="thumbnail">
                                  <div class="image view view-first">
                                    <img style="width: 100%; display: block;" src="/static/archivos/{{ foto.foto }}" alt="image" />
                                    <div class="mask">
                                      <p style="font-size: 1.7rem; ">{{ object.placa|upper }} </p>
                                      <div class="tools tools-bottom">
                                        <a href="#"><i class="fa fa-automobile"></i></a>
                                        <a href="#"><i class="fa fa-camera-retro"></i></a>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="caption">
                                    <p>{{ operador|upper }} </p>
                                  </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <script src="/static/js/project.js"></script>
  <!-- validator -->
  <script src="/static/vendors/validator/validator.js"></script>

  <script>

  </script>

{% endblock %}