{% extends "base/base_site.html" %}

{% block title %} Infraccion Cancelada {% endblock title %}

{% block content %}
<div class="right_col" role="main">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h1>INFRACCION CANCELADA</h1>
          <div class="clearfix"></div>
        </div>
          <form method= "post" data-parsley-validate class="form-horizontal form-label-left">
            {% csrf_token %}
            <div class="row">
              <div class="form-group col-md-12 col-sm-12 col-xs-12">
              </div>
              <h3>¿Esta seguro que el vehículo " {{ object.vehiculo.placa }} " cancelo la infracción?</h3>
              <input id="id-oculto" type="hidden" name="opcion" value="{{ llave }}">
              <div class="ln_solid col-md-12 col-sm-12 col-xs-12"></div>
              <div class="form-group col-md-8 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3">
                  <a class="btn btn-default" href="{% url 'vehiculo:listas_infractores' %}">Cancelar</a>
                  <button type="submit" class="btn btn-danger">Si, Eliminar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <script src="/static/js/project.js"></script>
  <!-- validator -->
  <script src="/static/vendors/validator/validator.js"></script>

{% endblock %}