{% extends "base/base_site.html" %}

{% block title %} Lista Vehiculos {% endblock title %}

{% block content %}
<div class="right_col" role="main">
  <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="title_left" >
          <h3>Lista de vehículos</h3>
      </div>
      <div class="x_panel">
          <h4>Vehículos</h4>
            <div class="x_content">
              <div class="table-responsive">
                <table id="myTable1" class="table table-striped table-bordered prueba">
                    <thead>
                      <tr class="headings" style='background-color: rgba(63,83,103,0.8); color:white;'>
                        <th>Nro.</th>
                        <th>Propietario</th>
                        <th>Placa</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Detalles</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if vehiculos %}
                        {% for vehiculo in vehiculos %}
                          <tr>
                              <td>{{ vehiculo.id }}</td>
                              <td>{{ vehiculo.propietario }}</td>
                              <td>{{ vehiculo.placa }}</td>
                              <td>{{ vehiculo.marca }}</td>
                              <td>{{ vehiculo.modelo }}</td>
                              <td>
                                <a class="btn btn-primary" href="{% url 'vehiculo:vehiculo_detalle' pk=vehiculo.id %}">Detalles</a>
                              </td>
                          </tr>
                          {% endfor %}
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascripts %}
  {{ block.super }}
    <script src="/static/js/project.js"></script>
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <!-- validator -->
    <script src="/static/vendors/validator/validator.js"></script>
    <script type="text/javascript">

        $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
                //$.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
            $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
        } );
        $('.prueba').DataTable( {
          "scrollY":        "400px",
          "scrollCollapse": true,
          "paging":         true,
          "responsive":     true,
          "ordering":       true,
          "language": {
              "sProcessing":     "Procesando...",
              "sLengthMenu":     "Mostrar _MENU_ registros",
              "sZeroRecords":    "No se encontraron resultados",
              "sEmptyTable":     "Ningún dato disponible en esta tabla",
              "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
              "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
              "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
              "sInfoPostFix":    "",
              "sSearch":         "Buscar:",
              "sUrl":            "",
              "sInfoThousands":  ",",
              "sLoadingRecords": "Cargando...",
              "oPaginate": {
                  "sFirst":    "Primero",
                  "sLast":     "Último",
                  "sNext":     "Siguiente",
                  "sPrevious": "Anterior"
              },
              "oAria": {
                  "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                  "sSortDescending": ": Activar para ordenar la columna de manera descendente"
              }
          }
        } );
        
        $('.finalizar').on("click",function(){
            var id_tramite = $(this).attr("tramite");
            $("#fin-tramite").attr("action", "/tramite/finalizar/"+id_tramite+"/");
            $("#fin-tramite").submit();
        });

    </script>
      <style type="text/css">
      .prueba{
        height: 150px;
      }
      </style>
{% endblock %}