<p style="margin-left:0cm; margin-right:0cm; text-align:center">
    <span style="font-size:11pt">
        <span style="font-family:Calibri,sans-serif">
            <strong>
                <span style="font-size:12.0pt">
                    <span style="font-family:Times New Roman,serif">
                        INFORME LEGAL URRT/DJD N&deg; 74/2018</span></span></strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm">
    <span style="font-size:11pt">
        <span style="font-family:Calibri,sans-serif">
            <span style="font-size:12.0pt">
            </span>
            <span style="font-family:Times New Roman,serif">
                A:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Abg. Juan Carlos Cejas Ugarte</span></span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm">
    <span style="font-size:11pt">
        <span style="font-family:Calibri,sans-serif">
            <strong><span style="font-size:12.0pt">
                <span style="font-family:Times New Roman,serif">
                    GOBERNADOR DEL DEPARTAMENTO AUT&Oacute;NOMO DE POTOS&Iacute;.</span></span></strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm">
    <span style="font-size:11pt">
        <span style="font-family:Calibri,sans-serif">
            <span style="font-size:12.0pt">
                <span style="font-family:Times New Roman,serif">VIA:&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Abg.Daniel Antonio Apaza Barrera</span></span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm">
    <span style="font-size:11pt">
        <span style="font-family:Calibri,sans-serif">
            <strong><span style="font-size:12.0pt">
                <span style="font-family:Times New Roman,serif">
                    DIRECTOR JUR&Iacute;DICO DEPARTAMENTAL</span></span></strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm">
    <span style="font-size:11pt">
        <span style="font-family:Calibri,sans-serif">
            <span style="font-size:12.0pt">
                <span style="font-family:Times New Roman,serif">DE:&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Abg. Wilson Condori L&oacute;pez</span></span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm">
    <span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">RESPONSABLE UNIDAD DE REGISTRO Y REGULACION DE TRANSPORTE.</span></span></strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">REF:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Informe Legal de la solicitud de Tarjetas de Operaaciones a favor de la Asociaci&oacute;n de Transporte Libre Flota &quot;Asuncion Minera&quot;.</span></span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">FECHA:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Potos&iacute;, 22 de septiembre de 2018</span></span></span></span></p>

<div style="margin-bottom:8pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; text-align:center">
<hr /></div>

<p style="margin-left:0cm; margin-right:0cm">&nbsp;</p>